[Unit]
Description=PostDistributorBeta
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/root/selfAdv/
ExecStart=/root/selfAdv/./PostDistributorBeta

[Install]
WantedBy=multi-user.target
